---
import Layout from '../../layouts/Layout.astro'
import { allPlaylists, songs } from '../../lib/data'

const { id } = Astro.params

const playlist = allPlaylists.find((playlist) => playlist.id === id)
const playlistSongs = songs.filter((song) => song.albumId === playlist?.albumId)
---

<Layout title='Spotify Clone'>
  <div
    id='playlist-container'
    class='relative transition duration-1000 bg-green-600'
  >
    <div class='relative z-10 px-6 pt-10'>
      <div class='flex flex-wrap mt-6 gap-4'></div>
    </div>

    <div
      class='absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80'
    >
    </div>
  </div>
</Layout>

<style></style>
